[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = ">=6.0"

[dev-packages]
recommonmark = "*"
pylint = "*"
ipython = "*"

[requires]
python_version = "3.6"
